<!-- base email template -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">

    <style>
        .form-group {
            font-size: 15px;
            display: flex;
            align-items: center;
        }

        .title-container {
            color: #00d365;
            display: flex;
            font-size: 24px;
        }

    </style>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
</head>

<body>
<div style="border: 0 solid black; padding:0.5em">
    <div>
        <h1 style="font-family:Helvetica,Arial,sans-serif;margin:0;line-height:70px;color:#fff;
    background-color: #F7941E ;padding-left: 20px;">ePRINTit SaaS</h1>
    </div>
    <div style="background-color: white;padding: 14px;">
        <% switch (filename) {
        case 'sign-up': %>
        <%- include('./signup-customer.ejs', { data: data }) %>
        <%  break;
        case 'notify': %>
        <%- include('./notify.ejs', { data: data }) %>
        <%  break;
        case 'reset-pwd': %>
        <%- include('./reset-pwd.ejs', { data: data }) %>
        <%  break;
        case 'upload-file': %>
        <%- include('./upload-file.ejs', { data: data }) %>
        <%  break;
        case 'guestname': %>
        <%- include('./guest-name.ejs', { data: data }) %>
        <%  break;
        case 'release-code': %>
        <%- include('./release-code.ejs', { data: data }) %>
        <%  break;
        case 'login': %>
        <%- include('./login.ejs', { data: data }) %>
        <%  break;
        case 'mfa-options': %>
        <%- include('./mfa-options.ejs', { data: data }) %>
        <%  break;
        case 'account-locked': %>
        <%- include('./account-locked.ejs', { data: data }) %>
        <%  break;
        case 'job-failed': %>
        <%- include('./failed-file-upload', { data: data }) %>
        <%  break;
        case 'failed-format-file': %>
        <%- include('./failed-format-file', { data: data }) %>
        <%  break;
        case 'signup-user' : %>
        <%- include('./signup-user.ejs', { data: data }) %>
        <% break;
        case 'invalid-attachment-size': %>
        <%- include('./invalid-attachment-size.ejs', { data: data }) %>
        <%  break;
        case 'attachment-limit-exceeded' : %>
        <%- include('./attachment-limit-exceeded.ejs', { data: data }) %>
        <% break;
            default:
                break;
        } %>
    </div>
</div>
</body>
</html>
