<br>ePrintIt: Your job submission was received successfully! Job details are:
<br>
<br>
<div>
    <b>Location:</b> <%= data.customerLocation %> <br>
    <b>Guest Name/Card Number:</b> <%= data.guestInfo %> <br>
    <br>
    List of files are: <br><br>
</div>
    <% data.data.forEach((post, index) => { %>
        <%=index + 1%>) <%= post.originalFileNameWithExt %><br>
    <% }) %>
<br>
Your release code is <b><%= data.releaseCode %></b>
<p>
    <br> Warm Regards,
    <br> ePRINTit
</p>
